body {
  font: 15px/1.3 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #CCCCCC;
}

/* Global */
ul {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  min-height: 64px;
  background-color: #ffffff;
}

header img {
  float: left;
  width: 32px;
  padding: 16px 0 0 24px;
}

header .branding {
  float: left;
  padding: 20px 0 0 0;
  min-height: 32px;
}

header .branding span {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #292929;
}

header .branding .highlight {
  color: #787878;
  font-weight: normal;
}

header nav {
  padding: 20px 16px; 0 0;
  float: right;
}

header nav ul a {
  text-decoration: none;
  color: #636363;
  font-weight: 600;
}

header nav li {
  text-decoration: none;
  padding: 0 8px 0 8px;
  display: inline-block;
}

/* Showcase */

.showcase img {
  width: 60%;
  padding: 32px 24px;
  float: left;
}

.showcase .showcase-right-col {
  width: 30%;
  float: right;
  margin: auto;
  float: left;
  padding-top: 110px;
}

.showcase h1 {
  font-size: 32px;
  font-weight: bold;
  color: #3D3D3D;
}

.showcase p {
  font-size: 16px;
  font-weight: bold;
  color: #4C4C4C;
  padding: 16px 0 24px 0;
}

.showcase #button {
  display: inline-block;
  font-weight: lighter;
  color: #E5E4E0;
  background-color: #3D3D3C;
  padding: 8px 115px;
}
