body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

/* Global */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  min-height: 64px;
  overflow: hidden;
  justify-content: center;
  background: #ffffff;
}

header img {
  width: 42px;
  padding-left: 24px;
  float: left;
}

header span {
  font-size: 32px;
  color: #2B2B2A;
  font-weight: bold;
  padding-bottom: 16px;
}

header .highlight {
  color: #82817F;
}

header #branding {
  float: left;
  padding-top: 10px;
}

header nav {
  float: right;
  padding:16px 16px 0 0;
}

header a{
  text-decoration: none;
  color: #5C5B5A;
}

header li {
  display: inline;
  padding: 0 8px;
  font-size: 24px;
  font-weight: 600;
}

/* Showcase */

#showcase {
  background: #D9D8D3;
}

#showcase img {
  width: 60%;
  padding: 32px 24px;
  float: left;
}

#showcase h1 {
  font-size: 42px;
  font-weight: 600;
  color: #3D3D3C;
  padding: 120px 0 0 0;;
}

#showcase p {
  font-size: 24px;
  font-weight: 600;
  padding: 24px 0;
  color: #3D3D3C;
}

#showcase #start {
  display: inline-block;
  font-weight: lighter;
  color: #E5E4E0;
  background-color: #3D3D3C;
  padding: 8px 115px;
}
