body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

/* Global */
.container {
  margin: auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header */
header {
  min-height: 64px;
  overflow: hidden;
  justify-content: center;
  background: #ffffff;
}

header img {
  width: 42px;
  padding-left: 24px;
  float: left;
}

header span {
  font-size: 32px;
  color: #2B2B2A;
  font-weight: bold;
  padding-bottom: 16px;
}

header .highlight {
  color: #82817F;
  font-weight: 400;
}

header #branding {
  float: left;
  padding-top: 10px;
}

header nav {
  float: right;
  padding:16px 16px 0 0;
}

header a{
  text-decoration: none;
  color: #5C5B5A;
}

header li {
  display: inline;
  padding: 0 8px;
  font-size: 24px;
  font-weight: 600;
}

/* Showcase */

#showcase {
  background: #D9D8D3;
}

#showcase img {
  width: 60%;
  padding: 32px 24px;
  float: left;
}

#showcase h1 {
  font-size: 42px;
  font-weight: 600;
  color: #3D3D3C;
  padding: 120px 0 0 0;;
}

#showcase p {
  font-size: 24px;
  font-weight: 600;
  padding: 24px 0;
  color: #3D3D3C;
}

#showcase #start {
  display: inline-block;
  font-weight: lighter;
  color: #E5E4E0;
  background-color: #3D3D3C;
  padding: 8px 115px;
}

#showcase #start a {
  color: #E5E4E0;
  text-decoration: none;
}

#showcase #start a:hover {
  color: #ffffff;
}

/* Newsletter */
#newsletter {

}

#newsletter .left-col {
  float: left;
  width: 60%;
  padding: 0 24px 0 24px;;
}

#newsletter .left-col img {
  width: 100%;
  overflow: hidden;
  padding: 32px 0 32px 0;
  float: left;
}

#newsletter h1 {
  padding-bottom: 24px;
  font-size: 42px;
  font-weight: 600;
  color: #3D3D3C;

}

#newsletter p {
  font-size: 24px;
  font-weight: 400;
  color: #3D3D3C;
}

#newsletter #end {
  font-weight: normal;
  font-size: 20px;
  padding: 32px 0 32px 0;
  width: 60%;
  color: #0F0F0F;
}

/* Newsletter Right Col */

#newsletter .right-col-container {
  width: 35.6%;
  float: right;
  padding-top: 16px;
  border-left: 1px #C7C7C7 solid;
}

#newsletter .side-col img {
  width: 35%;
  height: auto;
  padding: 16px;
}

#newsletter .side-col-desc {
  float: right;
  width: 56.5%;
  padding-top: 45px;
}

#newsletter .col-title {
  font-size: 20px;
  font-weight: 700;
}

#newsletter #one-col {
  border-bottom: 1px #C7C7C7 solid;
}

#newsletter #two-col {
  border-top: 1px #C7C7C7 solid;
}

#newsletter #lecture {
  background: #D9D8D3;
}
